<div class="bg-white p-6 rounded shadow">
  <div class="flex justify-between items-center mb-4">
    <h1 class="text-2xl font-bold">Production Facilities</h1>

    <%= button_to 'Delete All Facilities', delete_all_admin_production_facilities_path, 
    class: 'bg-red-500 text-white px-4 py-2 rounded', 
    method: :delete, 
    data: { confirm: 'Are you sure you want to delete all facilities? This action cannot be undone.' } %>

    <%= button_to 'Populate Production Facilities', populate_facilities_admin_data_path,  class: 'bg-blue-500 text-white px-4 py-2 rounded', method: :post %>

    <%= link_to 'Add New', new_admin_production_facility_path, class: 'bg-blue-500 text-white px-4 py-2 rounded' %>
  </div>

  <table class="min-w-full bg-white mt-4 border">
    <thead>
      <tr>
        <th class="py-2 px-4 border">Facility</th>
        <th class="py-2 px-4 border">Location</th>
        <th class="py-2 px-4 border">Commodity</th>
        <th class="py-2 px-4 border">base buy / sell</th>
        <th class="py-2 px-4 border">local buy / sell</th>
        <th class="py-2 px-4 border">Inventory</th>
      </tr>
    </thead>
    <tbody>
      <% @production_facilities.each do |production_facility| %>
        <tr>
          <td class="py-2 px-4 border"><%= production_facility.facility_name %></td>
          <td class="py-2 px-4 border"><%= production_facility.location_name %></td>
          <td class="py-2 px-4 border"><%= production_facility.commodity_name %></td>
          <td class="py-2 px-4 border"><%= production_facility.price_buy %> / <%= production_facility.price_sell %></td>
          <td class="py-2 px-4 border"><span style="color:red;"><%= production_facility.local_buy_price %></span> / <span style="color:green;"><%= production_facility.local_sell_price %></span></td>
          <td class="py-2 px-4 border"><%= production_facility.inventory %> / <%= production_facility.max_inventory %></td>
          <td class="py-2 px-4 border">
            <%= link_to 'Edit', edit_admin_production_facility_path(production_facility), class: 'text-blue-500 hover:underline' %> |
            <%= link_to 'Delete', admin_production_facility_path(production_facility), method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-red-500 hover:underline' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
