<div class="container mx-auto" data-controller="menu-items" data-menu-items-menu-id-value="<%= @menu.id %>">
  <h1 class="text-2xl font-bold mb-4"><%= @menu.new_record? ? 'New Menu' : 'Edit Menu' %></h1>
  <%= form_with model: [:admin, @menu], local: true, data: { turbo: true }, html: { multipart: true } do |form| %>
    <div class="mb-4">
      <%= form.label :name, class: 'block text-gray-700' %>
      <%= form.text_field :name, class: 'form-input mt-1 block w-full' %>
    </div>
    <%= form.submit 'Save', class: 'btn btn-primary' %>
  <% end %>

  <% if @menu.persisted? %>
    <h2 class="text-xl font-bold mt-6 mb-4">Menu Items</h2>
    <div class="flex">
      <div class="w-1/2 pr-4" data-controller="accordion">
        <!-- Pages Accordion -->
        <div>
          <button class="accordion-button" data-action="click->accordion#toggle" data-accordion-id="pages">
            Pages
          </button>
          <div class="accordion-content" data-accordion-target="content" data-accordion-id="pages">
            <% @pages.each do |page| %>
              <div class="form-check">
                <%= check_box_tag 'page_ids[]', page.id, false, data: { title: page.title, url: page.slug, action: "change->menu-items#addPage" } %>
                <%= label_tag "page_ids[]", page.title, value: page.id %>
              </div>
            <% end %>
          </div>
        </div>

        <!-- Links Accordion -->
        <div>
          <button class="accordion-button" data-action="click->accordion#toggle" data-accordion-id="links">
            Links
          </button>
          <div class="accordion-content hidden" data-accordion-target="content" data-accordion-id="links">
          <%= form_with model: [:admin, @menu, @menu.menu_items.new], url: admin_menu_menu_items_path(@menu), local: true do |form| %>
            <div class="mb-4">
              <%= form.label :title, 'Link Title', class: 'block text-gray-700' %>
              <%= form.text_field :title, class: 'form-input mt-1 block w-full' %>
            </div>
            <div class="mb-4">
              <%= form.label :url, 'Link Slug', class: 'block text-gray-700' %>
              <%= form.text_field :url, class: 'form-input mt-1 block w-full' %>
            </div>
            <div class="mb-4">
              <%= form.hidden_field :item_type, value: 'custom', class: 'form-input mt-1 block w-full' %>
            </div>
            <%= form.submit 'Add to Menu', class: 'btn btn-primary' %>
          <% end %>
        </div>
        
            
        </div>

        <!-- Categories Accordion -->
        <div>
          <button class="accordion-button" data-action="click->accordion#toggle" data-accordion-id="categories">
            Categories
          </button>
          <div class="accordion-content hidden" data-accordion-target="content" data-accordion-id="categories">
            <% @categories.each do |category| %>
              <div class="form-check">
                <%= check_box_tag 'category_ids[]', category.id, false, data: { title: category.name, url: category.slug, action: "change->menu-items#addCategory" } %>
                <%= label_tag "category_ids[]", category.name, value: category.id %>
              </div>
            <% end %>
          </div>
        </div>

        <!-- Services Accordion -->
        <div>
          <button class="accordion-button" data-action="click->accordion#toggle" data-accordion-id="services">
            Services
          </button>
          <div class="accordion-content hidden" data-accordion-target="content" data-accordion-id="services">
            <% @services.each do |service| %>
              <div class="form-check">
                <%= check_box_tag 'service_ids[]', service.id, false, data: { title: service.title, url: service.slug, action: "change->menu-items#addService" } %>
                <%= label_tag "service_ids[]", service.title, value: service.id %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="w-1/2">
        <h3 class="text-lg font-bold mb-2">Menu Structure</h3>
        <ul data-menu-items-target="list">
          <%= render partial: 'admin/menu_items/menu_item', collection: @menu.menu_items.roots, as: :menu_item %>
        </ul>
        <%= link_to 'Delete Menu', admin_menu_path(@menu), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger mt-4' %>
      </div>
    </div>
  <% end %>
</div>
