<div class="w-64 bg-blue-900 text-white min-h-screen">
  <div class="p-6">
    <h1 class="text-3xl font-bold mb-4">Admin Panel</h1>
    <nav class="space-y-2">
      <%= link_to 'Dashboard', admin_root_path, class: 'block py-2 px-4 hover:bg-blue-700' %>
      <%= link_to 'Commodities', admin_commodities_path, class: 'block py-2 px-4 hover:bg-blue-700' %>
      <%= link_to 'Planets', admin_planets_path, class: 'block py-2 px-4 hover:bg-blue-700' %>
      <%= link_to 'Moons', admin_moons_path, class: 'block py-2 px-4 hover:bg-blue-700' %>
      <%= link_to 'Cities', admin_cities_path, class: 'block py-2 px-4 hover:bg-blue-700' %>
            <%= link_to 'Outposts', admin_outposts_path, class: 'block py-2 px-4 hover:bg-blue-700' %>
      <%= link_to 'Space Stations', admin_space_stations_path, class: 'block py-2 px-4 hover:bg-blue-700' %>
      <%= link_to 'Terminals', admin_terminals_path, class: 'block py-2 px-4 hover:bg-blue-700' %>
      <%= link_to 'Star Systems', admin_star_systems_path, class: 'block py-2 px-4 hover:bg-blue-700' %>
      <%= link_to 'Production Facility', admin_production_facilities_path, class: 'block py-2 px-4 hover:bg-blue-700' %>
      <%= link_to 'Vehicles', admin_vehicles_path, class: 'block py-2 px-4 hover:bg-blue-700' %>
<hr>
  <%= link_to 'UserShips', admin_user_ships_path, class: 'block py-2 px-4 hover:bg-blue-700' %>
  <%= link_to 'Shards', admin_shards_path, class: 'block py-2 px-4 hover:bg-blue-700' %>
    <%= link_to 'ShipTravels', admin_ship_travels_path, class: 'block py-2 px-4 hover:bg-blue-700' %>
    <%= link_to 'StarBitizenRuns', admin_star_bitizen_runs_path, class: 'block py-2 px-4 hover:bg-blue-700' %>
<hr>
      <%= link_to 'Pages', admin_pages_path, class: 'block py-2 px-4 hover:bg-blue-700' %>
      <%= link_to 'Events', admin_events_path, class: 'block py-2 px-4 hover:bg-blue-700' %>
      <%= link_to 'Articles', admin_articles_path, class: 'block py-2 px-4 hover:bg-blue-700' %>
      <%= link_to 'Services', admin_services_path, class: 'block py-2 px-4 hover:bg-blue-700' %>
      <%= link_to 'Testimonials', admin_testimonials_path, class: 'block py-2 px-4 hover:bg-blue-700' %>
      <%= link_to 'Posts', admin_posts_path, class: 'block py-2 px-4 hover:bg-blue-700' %>
      <%= link_to 'Menus', admin_menus_path, class: 'block py-2 px-4 hover:bg-blue-700' %>
      <%= link_to 'Categories', admin_categories_path, class: 'block py-2 px-4 hover:bg-blue-700' %>
      <%= link_to 'Media', admin_media_path, class: 'block py-2 px-4 hover:bg-blue-700' %>
      <% if current_page?(admin_media_path) %>
        <div class="pl-4">
          <%= link_to 'Screenshots', screenshots_admin_media_path, class: 'block py-2 px-4 hover:bg-blue-700' %>
        </div>
      <% end %>
      <%= link_to 'Sections', admin_sections_path, class: 'block py-2 px-4 hover:bg-blue-700' %>
      <%= link_to 'Comments', admin_comments_path, class: 'block py-2 px-4 hover:bg-blue-700' %>
      <%= link_to 'Users', admin_users_path, class: 'block py-2 px-4 hover:bg-blue-700' %>
      <%= link_to 'Settings', admin_settings_path, class: 'block py-2 px-4 hover:bg-blue-700' %>
      <div class="pl-4">
        <% Setting.select(:group).distinct.where.not(group: nil).pluck(:group).each do |group| %>
          <%= link_to group.capitalize, admin_settings_path(group: group), class: "group flex items-center px-2 py-2 text-sm leading-6 font-medium rounded-md text-gray-100 hover:bg-gray-50" %>
        <% end %>
      </div>
      <%= button_to 'Logout', logout_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded' %>

    </nav>
  </div>
</div>