<title><%= meta_title %> - <%= Setting.get('store-name') %></title>

<meta name="description" content="<%= meta_description %>">
<meta name="keywords" content="<%= meta_keywords %>">

<!-- Open Graph Metadata -->
<meta property="og:title" content="<%= og_title %>">
<meta property="og:description" content="<%= og_description %>">
<meta property="og:image" content="<%= og_image %>">
<meta property="og:url" content="<%= og_url %>">
<meta property="og:type" content="<%= og_type %>">

<!-- Twitter Card Metadata -->
<meta name="twitter:card" content="<%= twitter_card %>">
<meta name="twitter:title" content="<%= twitter_title %>">
<meta name="twitter:description" content="<%= twitter_description %>">
<meta name="twitter:image" content="<%= twitter_image %>">

<!-- Canonical URL -->
<link rel="canonical" href="<%= canonical_url %>">